body{font-family:Book Antiqua; 
color:white;}

nav{
	width:800px;
	margin: 0 auto;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
	height:50px;
}
ol{
	margin:0;
	padding:0;
	list-style:none;
	margin: 0 auto;
	height:100px;
}


li{
	float: left;
}



ul li a {
color:white;
display:block;
height:50px;
padding:0 20px;
text-decoration:none;
line-height:50px;
}

ul li a:hover{
background:white;
color:black;
}

/*
.meInfo h3{
	background:white; 
	color:black;
}*/
.plan a{
	text-decoration:none;
	color:#c1c1c1;
}
.meInfo, .plan{
	margin-left:200px;
	margin-right:200px;
	color:#c1c1c1;
}
#titleHobby{
	background:white; 
	color:black;
	font-size:18px;
	font-weight: bold;
	text-align:left;
}